<footer class="align-bottom bg-dark mt-3">
  <div class="container">

    <div class="p-3 text-white">
      Created with ♥ by Me 2019. Made with <a href="http://www.google.com" target="_blank">WebStorm.</a>

      <p class="float-right h6">
        <a href="#"><i class="mr-2 fab fa-github "></i></a>
        <a href="#"><i class="mr-2 fab fa-facebook-f  "></i></a>
        <a href="#"><i class="mr-2 fab fa-twitter  "></i></a>
        <a href="#"><i class="mr-2 fab fa-linkedin  "></i></a>
      </p>
    </div>

  </div>
</footer>
