<div *ngIf="Error" class="container">
  <div class="row">
    <div class="col-12 mb-2">
      <div class="alert alert-danger" role="alert">
        <ng-container *ngIf="Error.Type!== 'Response'">
          <h3>An Error Occurred!</h3>
          <p>Something bad happened; please try again later.</p>
          <p *ngIf="Error.Path">Http failure response for <b>{{Error.Path}}</b></p>
          <hr>
        </ng-container>
        <p><i>{{Error.Code}}</i><br><i>{{Error.Message}}</i></p>
      </div>
    </div>
  </div>
</div>
